.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-floating {
  width: 90%;
  margin: 0 auto;
}

/* .col {
  padding-right: 50px;
} */

.container-fluid{
  margin-top: 20px;
}

#all-beers-search {
  margin-bottom: 40px;
}

#homepage-div a{
  text-decoration: none;
  color: #E6E6EA;
}

body {
  background-color: #FE4A49;
}

col img{
  padding-left: 70px;
}

a {
  text-decoration: none;
}

a:hover{
  background-color: #fe9a9a;
}

.ind-beer-div{
  margin-top: 40px;
  margin-bottom: 40px;
}

.ind-beer-div img{
  margin-bottom: 30px;
}

.ind-beer-div h3 {
  color: #fed766;
  margin-bottom: 20px;
}

.ind-beer-div h6{
  color: #E6E6EA;
}

.category-div{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.ind-beer-lead{
  color: #f4f4f8;
}

#new-beer-form button{
  background-color: #FED766;
  border: 0;
}

#new-beer-form button:hover{
  background-color: #fe9a9a;
}